.route:hover::before,
.clicked::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: #000;
    bottom: -10px;
    left: 2px;
}

.clicked {
    color: black !important;
}

@media (min-width: 1280px) {

    .route:hover::before,
    .clicked::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 50px;
        background: #000;
        left: -40px;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}